{
    "env": {
        "browser": true,
		"node": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "indent": [
            "error", "tab",
            { "SwitchCase": 1 }
        ],
		"no-mixed-spaces-and-tabs": "off",
		"no-async-promise-executor": "off",
        "newline-before-return": "error",
        "no-prototype-builtins": "off",
        "prefer-rest-params": "error",
        "no-param-reassign": "error",
        "no-extend-native": "off",
        "object-curly-spacing": "off",
        "template-curly-spacing": "error",
        "max-len": "off",
        "eol-last": "off",
        "padded-blocks": "off",
        "valid-jsdoc": "error",
        "require-jsdoc": "off",
        "comma-dangle": "off",
        "prefer-const": "error",
        "prefer-template": "error",
        "no-tabs": "off",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "double"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}
